<div class="col-lg-12">
  <h1>Toilets</h1>

  <table>
    <thead>
      <tr>
        <th><h2>Name</h2></th>
        <th><h2>Location</h2></th>
        <th><h2>X</h2></th>
        <th><h2>Y</h2></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @toilets.each do |toilet| %>
        <tr>
          <td><h3><%= toilet.name %></h3></td>
          <td><h3><%= toilet.location %></h3></td>
          <td><h3><%= toilet.x %></h3></td>
          <td><h3><%= toilet.y %></h3></td>
          <td><%= link_to 'Show', toilet,class: "btn btn-primary"%></td>
          <td><%= link_to 'Edit', edit_toilet_path(toilet),class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', toilet, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
          <td><hr></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Toilet', new_toilet_path, class: "btn btn-success" %>
</div>
